<h2 mat-dialog-title>Trailer: {{data.titulo}}</h2>
<mat-dialog-content class="">
    <div  class=" d-flex justify-content-center">
        <youtube-player  [videoId]="data.urlVideo"></youtube-player>
    </div>

    <h3 class="mt-2 mb-1">Sinopsis:</h3>
    <p>{{data.sinopsis}}</p>

    <h3 class="mt-2 mb-1">Genero:</h3>
    <div>
        <li *ngFor="let g of data.listGenero"> {{g.genero.nombre}}</li>
    </div>

    <h3 class="mt-2 mb-1">Actores:</h3>
    <ul class="list-group" *ngFor="let d of data.listActor">
        <li class="list-group-item"> {{d.actor.nombre}}</li>
    </ul>

    <h3 class="mt-2 mb-6 mb-1">Director:</h3>
    <ul class="list-group" *ngFor="let d of data.listDirecto">
        <li class="list-group-item"> {{d.director.nombre}}</li>
    </ul>

</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between">
    <div>
    <button class="btn btn-danger bi bi-trash" *ngIf="login" mat-dialog-close (click)="removerTrailer(data)">Editar</button>     
    <button class="btn btn-warning bi bi-pencil-square mx-2" *ngIf="login" mat-dialog-close (click)="editarTrailer(data)">Editar</button>
    </div>
    <button class="btn btn-primary" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>