<footer class="bg-dark text-center text-white mt-4">
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/juniorsamuele"
                target="_blank" role="button"><i class="bi bi-facebook"></i></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="mailto:20198756@itla.edu.do.com" target="_blank" role="button"><i
                    class="bi bi-envelope"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="https://www.instagram.com/j.delossanto/?hl=es-la" target="_blank" role="button"><i
                    class="bi bi-instagram"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/JuniorSamuel" target="_blank"
                role="button"><i class="bi bi-github"></i></a>
        </section>

        <!-- Section: Text -->
        <section class="mb-4">
            <address><strong>Dirreccion: </strong>San Cristobal, Villa Altagracia</address>
            <p><strong>Correo Electronico: </strong>juniorvelazquezmt19@gmail.com</p>
            <P><strong>Correo instritucional: </strong>20198756@itla.edu.do</P>
            <p><strong>Telenofo: </strong>(809) 607-8829</p>
            
        </section>
        <!-- Section: Text -->
        <!-- Section: Social media -->

    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright: Mi blog
    </div>
    <!-- Copyright -->
</footer>

