<footer class="bg-dark text-center text-white mt-4">
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/JuniorSamuel" target="_blank"
                role="button"><i class="bi bi-github"></i></a>
        </section>
        
        <div class="row">
            <div class="col-2">
                <ul>
                    <li><img src="../../../assets/Imagenes/Junior.jpeg"></li>
                    <li>Junior Samuel De Los Santos</li>
                    <li>2019-8756</li>
                    <li>20198757@itla.edu.do</li>
                </ul>
            </div>
            <div class="col-2">
                <ul>
                    <li><img src="../../../assets/Imagenes/Wilkendrys.jpg"></li>
                    <li>Wilkendrys saviel Castillo tejeda</li>
                    <li>2019-8574</li>
                    <li>20198574@itla.edu.do</li>
                </ul>
            </div>
            <div class="col-2">
                <ul>
                    <li><img src="../../../assets/Imagenes/Upia.jpg"></li>
                    <li>Jose Miguel Upia Urbaez</li>
                    <li>2019-8757</li>
                    <li>20198757@itla.edu.do</li>
                </ul>
            </div>
            <div class="col-2">
                <ul>
                    <li><img src="../../../assets/Imagenes/Keury.jpeg"></li>
                    <li>Keury Alberto Lendof</li>
                    <li>2019-8871</li>
                    <li>20198871@itla.edu.do</li>
                </ul>
            </div>
            <div class="col-2">
                <ul>
                    <li><img src="../../../assets/Imagenes/Kerlyn.jpeg"></li>
                    <li>Kerlin liberato</li>
                    <li>2019-8910</li>
                    <li>20198910@itla.edu.do</li>
                </ul>
            </div>
        </div>
        <!-- Section: Text -->
        <!-- Section: Social media -->
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright: Mi blog
    </div>
    <!-- Copyright -->
</footer>

